/* Import the work sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Common css tyle  */
.btn_container {
  text-align: center;
}

.btn_container button {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  padding: 12px 22px;
  background: rgb(82, 195, 3);
  border: 1px solid rgb(82, 195, 3);
  cursor: pointer;
}

/* common css style for icons */
.icons {
  font-size: 26px;
  margin-top: 20px;
}
.icons a:first-child i {
  background: linear-gradient(
    180deg,
    rgb(0, 178, 255) -0.911%,
    rgb(0, 106, 255) 104.264%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icons a {
  color: black;
}
.icons a:nth-child(3) i {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons a:last-child i {
  color: rgb(225, 49, 56);
}
/* Banner */
.banner {
  height: 743px;
  background-image: linear-gradient(
      0deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;

  /* method number: 1 */
  /* display: grid;
  justify-content: center;
  align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner_content {
  width: 818px;
}
.banner .banner_content .subtitle {
  font-size: 25.6px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}

.banner .banner_content h1 {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 51px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 10px;
}
.banner .banner_content .details {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* Foods Section */
.foods_container {
  width: 68.75%;
  margin: 70px auto 0px;
}
.foods_title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.foods_container .foods_title p {
  color: rgb(16, 16, 16);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 10px;
}
.foods_container .foods_title h2 {
  color: rgb(16, 16, 16);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 36px;
}
.foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}
.food {
  text-align: center;
}
.food img {
  width: 100%;
}
.food .food_name {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 16px;
  display: inline-block;
  background: rgba(82, 195, 3, 0.15);
  padding: 10px 22px;
}
.food h2 {
  color: rgb(16, 16, 16);
  font-size: 26px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0%;
  margin-bottom: 14px;
}
.food .food_description {
  color: rgb(16, 16, 16);
  opacity: 0.7;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}
.watch_all_button {
  margin-top: 44px;
}

/* About us section */
.about_us {
  height: 597px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  margin: 120px 0px;
  height: 100%;
}
.about_us img {
  width: 100%;
}
.about_us .about_details {
  text-align: center;
  margin-top: 134px;
}
.about_details_header {
  width: 80%;
  margin: 0px auto 0px;
}
.about_details .about_details_header .details-title {
  color: rgb(16, 16, 16);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
}
.about_details .about_details_header p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.6;
  margin-top: 16px;
}

.about_details .follow_us {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
  margin-top: 30px;
  padding: 18px 0px;
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
}

/* Social section */
.social {
  height: 521px;
  background-image: url("assets/social-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.social .social_content {
  width: 68.75%;
  margin: 0px auto;
  text-align: center;
}
.social_content > h2 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  opacity: 0.7;
  padding: 18px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  margin-top: 34px;
}
.social .social_header {
  width: 60%;
  margin: 0px auto;
}
.social .social_content .social_header > h2 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.social_header p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  opacity: 0.6;
}
